.main {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 2rem;
}

.crosswords {
    width: 30rem;
    border-radius: 1vmin;
    aspect-ratio: 1/1;
    background-color: hsl(0, 0%, 75%);
    display: grid;
    grid-template-columns: repeat(var(--size), 1fr);
    grid-template-rows: repeat(var(--size), 1fr);
    position: relative;
    & span {
        font-size: 1.4rem;
        background-color: hsl(0, 0%, 85%);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1vmin;
        user-select: none;
        text-transform: uppercase;
    }
    & .canvas {
        position: absolute;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
}

.words {
    height: 20rem;
    width: 10rem;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 1vmin;
    background-color: hsl(0, 100%, 90%);
    font-weight: bold;
    text-transform: uppercase;
}