.main-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    text-align: center;
    width: 25%;
    color: hsl(0, 0%, 90%);
    gap: 6rem;
    margin-top: 3rem;
    & .about-text {
        flex: 1;
    }

    & .socials {
        display: flex;
        height: 3rem;
        & a {
            position: relative;
            height: 100%;
            aspect-ratio: 1/1;
        }        
    }
}