.game {
    display: flex;
    flex-direction: column;
    height: 18rem;
    aspect-ratio: 4/6;

    & .link-image {
        width: 100%;
        aspect-ratio: 4/3;
        position: relative;
        & .image {
            border-radius: 1vmin;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    & .link-name {
        text-decoration: none;
        color: var(--text-color);

        & h1 {
            font-size: 1.2rem;
            padding-block: 0.3rem;
        }
    }

    & p {
        font-size: 0.8rem;
        color: var(--text-color);
        padding-block: 0.3rem;
        line-height: 1.2rem;
    }

    & .version {
        position: absolute;
        bottom: 4%;
        right: 1%;
        font-size: 0.8rem;
        color: var(--text-color);
        background-color: hsla(0, 0%, 0%, 0.2);
        padding-inline: 0.4rem;
        padding-block: 0.2rem;
        border-radius: 1vmin;
    }

}