.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    height: 34rem;
    max-width: calc(34rem * var(--sizeW)/var(--sizeH));
    background-color: hsl(0, 0%, 75%);
    display: grid;
    grid-template-columns: repeat(var(--sizeW), 1fr);
    grid-template-rows: repeat(var(--sizeH), 1fr);    
    & span {
        background-color: transparent;
        height: 100%;
        width: 100%;
        aspect-ratio: 1/1;
        font-size: 1.2rem;        
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-weight: bolder;
        padding: 0.1rem;
        outline: 1px solid hsl(200, 8%, 50%);
        outline-offset: -1px;
        overflow-wrap: break-word;
        hyphens: auto;
        user-select: none;
        &.question {
            background-color: hsl(0, 0%, 65%);  
            position: relative;
            font-size: 0.45rem;
            user-select: auto;
            line-height: 0.38rem;
            &.horizontal::after, &.vertical::before {
                font-size: 2rem;
                position: absolute;
                width: 100%;
                height: 100%;
                inset: 0;
                z-index: 3;
                pointer-events: none;
                line-height: normal;
            }
            &.horizontal::after {
                content: "▶";
                background-color: transparent;
                left: 100%;
                transform: scaleX(0.5) translateX(-75%);
            }

            &.vertical::before {
                content: "▼";
                background-color: transparent;
                top: 100%;
                transform: scaleY(0.5) scaleX(1.2) translateY(-70%);
            }
            &.vertical.horizontal {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                & hr {
                    width: 100%;
                    border-color: hsl(0, 0%, 65%);
                }
            }
        }

        &.selected {
            outline: 3px solid hsl(200, 100%, 50%);
            outline-offset: -2px;
            z-index: 2;
            position: relative;
            &.right::after, &.down::after {
                font-size: 2rem;
                position: absolute;
                width: 100%;
                height: 100%;
                inset: 0;
                color: hsl(200, 100%, 50%);
                pointer-events: none;
            }
            &.right::after {
                content: "▶";
                background-color: transparent;
                left: 100%;
                transform: scaleX(0.5) translateX(-75%);
            }

            &.down::after {
                content: "▼";
                background-color: transparent;
                top: 100%;
                transform: scaleY(0.5) scaleX(1.2) translateY(-70%);
            }
        }
    }
}