* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html, body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  background-color: var(--bg-color);
}

:root {
  --bg-color: hsl(0, 0%, 10%);
  --header-bg-color: hsl(0, 0%, 12%);
  --text-color: hsl(0, 0%, 90%);
  --primary-color: hsl(200, 60%, 50%);
}